/obj

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.unityproj

# VS/VSCode
.vs/
.vscode/
*.user
*.suo
*.tmp
*.pdb
*.opendb
*.VC.db
